body {
    margin: 0;
    font-family: monospace;
    font-size: 25px;
    background: #191919;
    color: #f2f2f2;
}

#canvas img {
    display: none;
}

#player {
    display: none;
}

.container {
    width: 600px;
    margin: auto;
}

header {
    margin: 140px 0;
    float: left;
}

ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 200px;
}

ul li {
    float: left;
    list-style: none;
    padding: 6px;
    margin: 3px;
    background: #2c2c2c;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li:hover {
    background: #e32ed1
}

section {
    float: left;
    width: 300px;
    margin-top: 80px;
    margin-left: 4px;
}

form {
    margin: 3px;
    padding: 0;
}

form input {
    width: 180px;
    background: #2c2c2c;
    border: none;
    outline: none;
    padding: 8px;
    font-family: monospace;
    font-size: 25px;
    color: white;
}

canvas {
    width: 100%;
    height: 100%;
}