<!DOCTYPE html>
<html class="no-js">
<head>
    <!--

    glitch art şerefsizliktir

    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}glitch it{% endblock %}</title>
    <meta name="description" content="Glitch it">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
    <link rel="image_src" type="image/jpeg" href="{{ url_for('static', filename='img/logo.png') }}" />

</head>
<body>
{% block content %}{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.class.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/underscore.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/underscore.string.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/glitchers.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/player.js') }}"></script>
<script src="https://www.youtube.com/iframe_api"></script>
{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57153189-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
