{% extends "base.html" %}

{% block content %}
<div id="amblem">
    <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""/></a>
</div>
<div id="track-info">
    <h3>{{ track.title }}</h3>
    <h3>{{ track.band }}</h3>
</div>
<div id="canvas"></div>
<div id="player"></div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    new glitchit.Application({
        keyword: "{{ keywords }}",
        workspaceSelector: "#canvas",
        glitcher: new glitchit.Base64ImageGlitcher(),
        filters: [
            new glitchit.GrayscaleFilter(),
            new glitchit.TVFilter(),
            new glitchit.BrightnessFilter()
        ]
    }).render();

    setTimeout(function () {
        $("#track-info").animate({
            "left": -999
        });
    }, 10000);
</script>
<script>
    onYouTubeIframeAPIReady = function () {
        var player = new glitcit.MusicPlayer({
            youtubeVideoId: "{{ track.id }}"
        });
        player.render();
    }
</script>
{% endblock %}