{% extends "base.html" %}

{% block content %}
<div class="container">

    <header>
        <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""/></a>
        <a href="http://github.com/fatiherikli/glitchit.org">source code</a>
    </header>
    <section>
        <ul>
            <li><a href="/istanbul">istanbul</a></li>
            <li><a href="/siirsokakta">siirsokakta</a></li>
            <li><a href="/commodore+64">commodore 64</a></li>
            <li><a href="/shpongleland">shpongleland</a></li>
            <li><a href="/impressions">impressions</a></li>
            <li><a href="/illuminations">illuminations</a></li>
            <li><a href="/expressions">expressions</a></li>
            <li><a href="/silhouette">silhouette</a></li>
            <li><a href="/de+stijl">de stijl</a></li>
            <li><a href="/acab">acab</a></li>
        </ul>
        <form action="">
            <input autofocus type="text" id="keywords" placeholder="bla bla"/>
        </form>
    </section>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function () {
        var keywords = $("#keywords").focus();
        $("form").on('submit', function (event) {
            location.href = $("#keywords").val();
            event.preventDefault();
        });
    });
</script>
{% endblock %}
